{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["**/*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
